<section>

  <header>
    <h1>Places</h1>
    
    <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get } do |place_form| %>
      <h2>Where have you been?</h2>
      <%= text_field_tag :q, params[:q] %>
      <%= place_form.submit 'Search' %>
    <% end %>
  </header>
  
  <ul class="places">
    <% @results['places']['place'].each do |place| %>
      <li class="place">
        <% link_to "/places/#{[place['country'], place['admin1'], place['admin2'], place['admin3'], place['name'], place['woeid']].reject{|x|x.blank?}.uniq.join('/').gsub(/ /,'-')}" do %>
          <span class="name"><%= place['name'] %></span>,
          <span class="admin1"><%= place['admin1'] %></span>
        <% end %>
      </li>
    <% end unless @results.blank? || @results['places'].blank? || @results['places']['place'].blank? %>
  </ul>
  
  <pre><%=h @results.to_json %></pre>
  
  
  
  <footer>
    <h3>
      Can't find the place you're looking for?
      <button><%= link_to 'Create a new place', new_place_path %></button>
    </h3>
    
  </footer>
  
</section>
