<article class="row" id="places">

  <header>
  </header>

  <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get } do |place_form| %>
    <h2>Find a place</h2>
    <%= text_field_tag :q, params[:q], :id => 'place_search', :autocomplete => "off" %>
    <%#= place_form.submit 'Search' %>
  <% end %>

  <div id="place_results">
    <ul class="places">
      <% @places.each do |place| %>
        <% content_tag_for :li, place do %>
          <span style="background:#<%= place.color %>">&nbsp;</span>
          <% link_to "/places/#{place.to_param}" do %>
            <span class="long_name"><%= place.long_name %></span>
          <% end %>
        <% end %>
      <% end unless @places.blank? %>
    </ul>
  </div>
  
  <%= image_tag "home-world-map.png", :size => "912x393", :id => 'world-map' %>

  <div id="marker">&nbsp;</div>

</article>

<% content_for(:footer) do %>
  <%= javascript_include_tag 'places' %>
  <%= jquery_ready '$("#place_search").searchPlaces()' %>
  <%#= jquery_ready '$("#where_have_you_been_search").searchPlaces()' %>

  <script type="text/javascript">
  
    var sampleLatArray = new Array();
    var sampleLonArray = new Array();
    var sampleXArray = new Array();
    var sampleYArray = new Array();
    
    var pushSampleCoord = function(lat, lon, x, y) {
      sampleLatArray.push(lat);
      sampleLonArray.push(lon);
      sampleXArray.push(x);
      sampleYArray.push(y);
    };
    
    pushSampleCoord( 0.000000,    0.00000, 450, 240);
    pushSampleCoord(32.715698, -117.16172, 203, 315);
    pushSampleCoord(51.506321,   -0.12714, 450, 102);
    pushSampleCoord(65.658300,  -168.3984,  18,  65);
    pushSampleCoord(51.027600,   156.8408, 848, 109);
    
    var calculateWeights = function(a, samples) {
      var weights = new Array();
      for (var i = 0; i < samples.length; i++) {
        weights[i] = 1.0 / Math.abs(a - samples[i])
      }
      return weights;
    };
    
    var weightedMean = function(values, weights) {
      var valueSum  = 0;
      var weightSum = 0;
      for (var i = 0; i < values.length; i++) {
        if (weights[i] == Infinity) {
          return values[i];
        } else {
          valueSum += values[i] * weights[i];
          weightSum += weights[i];
        }
      }
      return valueSum / weightSum;
    }
    
    var latLonToXY = function(lat, lon) {
      // 1. calculate weights
      var latWeights = calculateWeights(lat, sampleLatArray)
      var lonWeights = calculateWeights(lat, sampleLonArray)
      // 2. calculate weighted means
      var x = weightedMean(sampleXArray, lonWeights);
      var y = weightedMean(sampleYArray, latWeights);
      // 3. done!
      return [Math.round(x), Math.round(y)];
    };
    
    window.console.log("hello, world!");
    
  </script>
  
<% end %>
