<section>

  <header>
    <h1>Places</h1>
    
    <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get } do |place_form| %>
      <h2>Where have you been?</h2>
      <%= text_field_tag :q, params[:q], :id => 'search', :autocomplete => "off" %>
      <%= place_form.submit 'Search' %>
    <% end %>
  </header>
  
  <div id="results">

    <ul class="places">
      <% @places.each do |place| %>
        <li class="place">
          <% # TODO: create a permalink for all places out of the following code %>
          <% link_to "/places/#{[place.country, place.admin1, place.admin2, place.admin3, place.name, place.woeid].reject{|x|x.blank?}.uniq.join('/').gsub(/ /,'-')}" do %>
            <span class="name"><%= place.name %></span>,
            <span class="admin1"><%= place.admin1 %></span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <p><small><code><%=h @results.to_json %></code></small></p>
    <% content_for(:footer) do %>
      <% if @places.blank? %>
        <%= javascript_include_tag 'places' if @places.blank? %>
        <%= jquery_ready '$("#search").searchPlaces()' %>
      <% end %>
    <% end %>
  </div>

  <footer>
  </footer>
  
</section>
