<section>

  <header>
    <h1>Places</h1>
    
    <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get } do |place_form| %>
      <h2>Where have you been?</h2>
      <%= text_field_tag :q, params[:q] %>
      <%= place_form.submit 'Search' %>
    <% end %>
  </header>
  
  <div id="results">

    <ul class="places">
      <% @results['places']['place'].each do |place| %>
        <li class="place">
          <% link_to "/places/#{[place['country'], place['admin1'], place['admin2'], place['admin3'], place['name'], place['woeid']].reject{|x|x.blank?}.uniq.join('/').gsub(/ /,'-')}" do %>
            <span class="name"><%= place['name'] %></span>,
            <span class="admin1"><%= place['admin1'] %></span>
          <% end %>
        </li>
      <% end unless @results.blank? || @results['places'].blank? || @results['places']['place'].blank? %>
    </ul>

    <p><small><code><%=h @results.to_json %></code></small></p>
    <% content_for(:footer) do %>
      <%= javascript_include_tag 'places' if @results.blank? %>
    <% end %>
  </div>

  
  

  <footer>
  </footer>
  
</section>
