<article id="places">
  <header class="row">

    <div class="column grid_6">
      <h1><%= link_to image_tag("missionsbridge.png", :alt => "MissionsBridge"), '/' %></h1>
    </div>
    
    <div class="column grid_y">
      <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get, :style => 'margin-top: 40px' } do |place_form| %>
        <%= image_tag "search.png", :align => 'left' %>
        <%= text_field_tag :q, params[:q], :id => 'place_search', :autocomplete => "off" %>
        <%#= place_form.submit 'Search' %>
      <% end %>
    </div>
    
    <div id="place_results">
      <ul class="places">
        <% @places.each do |place| %>
          <% content_tag_for :li, place do %>
            <span style="background:#<%= place.color %>">&nbsp;</span>
            <% link_to "/places/#{place.to_param}" do %>
              <span class="long_name"><%= place.long_name %></span>
            <% end %>
          <% end %>
        <% end unless @places.blank? %>
      </ul>
    </div>
  </header>

  
  <%= image_tag "home-world-map.png", :size => "912x393", :id => 'world-map' %>

  <div id="marker">&nbsp;</div>

</article>

<% content_for(:footer) do %>
  <%= javascript_include_tag 'places' %>
  <%= jquery_ready '$("#place_search").searchPlaces({callback:setPlacesOnMap})' %>
  <%#= jquery_ready '$("#where_have_you_been_search").searchPlaces()' %>

  <script type="text/javascript">
  
    pushSampleCoord(  0.000000,    0.00000, 450, 240);
    pushSampleCoord( 32.715698, -117.16172, 148, 154); // san diego (roughly)
    pushSampleCoord( 51.506321,   -0.12714, 450, 102); // london
    pushSampleCoord( 65.658300,  -168.3984,  18,  65); // western alaska
    pushSampleCoord( 51.027600,   156.8408, 848, 109); // southern kamchatka
    pushSampleCoord(  8.146200,    77.4316, 648, 222); // southern india
    pushSampleCoord(-34.741600,    19.8633, 501, 336); // southern africa
    pushSampleCoord(-55.578300,   -68.5547, 272, 392); // southern south america
    pushSampleCoord(-34.452200,   172.7930, 894, 336); // northern new zealand
    pushSampleCoord( 83.589200,   -34.8486, 349,   0); // northern greenland
    pushSampleCoord( 59.8448,     -43.8574, 329,  80); // southern greenland
    pushSampleCoord( 25.1602,     -80.7056, 242, 174); // southern florida
    pushSampleCoord( 22.8698,    -109.9072, 168, 181); // southern baja california
    pushSampleCoord(  7.2753,     -80.5957, 241, 223); // southern panama
    pushSampleCoord( 71.2444,    -156.6211,  45,  47); // northern alaska
    pushSampleCoord( 50.8198,    -128.1885, 119, 105); // western canada (rough)
    pushSampleCoord( 40.4135,    -124.3652, 129, 131); // western california (rough)
    pushSampleCoord(29.2289, -89.2090, 219, 164); // southern louisiana
    pushSampleCoord(41.9023, -87.6270, 225, 129); // chicago
    
    
  </script>
  
<% end %>
