<article class="row">

  <header>
  </header>

  <% form_for :place, :url => { :action => 'search' }, :html => { :method => :get } do |place_form| %>
    <h2>Find a place</h2>
    <%= text_field_tag :q, params[:q], :id => 'where_are_you_now_search', :autocomplete => "off" %>
    <%= place_form.submit 'Search' %>
  <% end %>

  <div id="where_are_you_now_results">
    <ul class="places">
      <% @places.each do |place| %>
        <% content_tag_for :li, place do %>
          <% # TODO: create a permalink for all places out of the following code %>
          <span style="background:#<%= place.color %>">&nbsp;&nbsp;</span>
          <% link_to "/places/#{place.to_param}" do %>
            <span class="long_name"><%= place.long_name %></span>
          <% end %>
        <% end %>
      <% end unless @places.blank? %>
    </ul>
  </div>

</article>

<% content_for(:footer) do %>
  <%= javascript_include_tag 'places' %>
  <%= jquery_ready '$("#where_are_you_now_search").searchPlaces()' %>
  <%#= jquery_ready '$("#where_have_you_been_search").searchPlaces()' %>
<% end %>
