<% content_tag_for :article, @place do %>

  <header class="row">
    <%= render :partial => 'header' %>
  </header>

  <section class="row">
    <div class="column grid_4">
      <h3>Recent news about <%=h @place.name %>&hellip;</h3>
      <p>Something interesting -- an activity feed about people and orgs?</p>
    </div>
    <div class="column grid_4">
      <p>
        We know
        <strong><%= link_to pluralize(123, "person"), '#' %></strong> and
        <strong><%= link_to pluralize(25, "organization"), '#' %></strong>.
      </p>
      <% unless logged_in? %>
        <p>
          <%= link_to 'Sign up', signup_path %> or
          <%= link_to 'log in', login_path %> to build your network and find contacts here.
        </p>
      <% end %>
    </div>
    <div class="column grid_4">
      <div class="image_or_map" style="height:300px; background:#eee; margin:1%">big image or map</div>
      <p><%= link_to "Nearby photos on Flickr", "http://www.flickr.com/places/#{@place.woeid}?by=everyone&taken=alltime&sort=interestingness" %></p>
    </div>
  </section>

  <aside>
  </aside>

  <!-- <p><small><pre>
  <%= @place.to_yaml %>
  </pre></small></p> -->
<% end %>