<% content_tag_for :article, @place do %>

  <header class="row">
    <%= render :partial => 'header' %>
  </header>

  <section class="row">
    <div class="column grid_3">
      <h3>Recently from <%=h @place.name %>&hellip;</h3>
      <p>Something interesting&mdash;an activity feed about people and orgs?</p>
    </div>
    <div class="column grid_3">
      <p>
        We know
        <strong><%= pluralize(@place.people.count, "person") %></strong> and
        <strong><%= link_to pluralize(25, "organization"), '#' %></strong>.
      </p>
      <% unless logged_in? %>
        <p>
          <%= link_to 'Sign up', signup_path %> or
          <%= link_to 'log in', login_path %> to build your network and find contacts here.
        </p>
      <% end %>
    </div>
    <div class="column grid_5">
      <div class="image_or_map">
        <% photo = @place.flickr_photos.first %>
        <% if photo %>
          <div><%= link_to image_tag(photo[:src]), photo[:href], :alt => photo[:title] %></div>
          <div>
            <p>&ldquo;<%= link_to (photo[:title]||"Untitled"), photo[:href] %>&rdquo;
            from <%= link_to "Flickr", "http://www.flickr.com/places/#{@place.woeid}?by=everyone&taken=alltime&sort=interestingness" %></p>
            <p><%= link_to 'View and vote on other photos.', place_flickr_photos_path(@place.woeid) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  
  <aside>
  </aside>

  <!-- <p><small><pre>
  <%= @place.to_yaml %>
  </pre></small></p> -->
<% end %>