<!DOCTYPE html>
<html>
  <head>
    <title>MissionsBridge</title>
    <%= stylesheet_link_tag 'reset', 'application' %>
    <%= render :partial => 'layouts/ie' %>    
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <h1>
        <strong><%= link_to 'Missions Bridge', '/' %></strong>
        knows <strong><%= link_to pluralize(Person.count, "person"), people_path %></strong>
        and <strong><%= link_to pluralize(0, "organization"), '#' %></strong>
        in <strong><%= link_to pluralize(Place.count, "place"), places_path %></strong> and counting&hellip;
      </h1>
      <h2>
        <strong><%= link_to "You", current_person ? person_path(current_person) : new_person_path %></strong>
        know <strong><%= link_to pluralize(0, "person"), people_path %></strong>
        in <strong><%= link_to pluralize(0, "place"), places_path %></strong>&hellip;
      </h2>
      <nav></nav>
    </header>
    <article>
      <%= yield %>
    </article>
    <aside>
      <%= yield(:aside) %>
    </aside>
    <footer>
      <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js' %>
      <%= yield(:footer) %>
    </footer>
  </body>
</html>