<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'reset', 'grid', 'application' %>
    <%= render :partial => 'layouts/ie' %>    
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield %>
    <aside>
      <%= yield(:aside) %>
    </aside>
    <footer>
      <%#= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js' %>
      <%= javascript_include_tag 'jquery.js' %>
      <%= yield(:footer) %>
    </footer>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-10906581-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>